<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Collins House</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="format-detection" content="telephone=no">

		<link rel="shortcut icon" href="http://www.collinshousemelbourne.com.au/main-site/favicon.ico">

		<!--Don't think we need to change the font for the top menu ribbon
		<link href="https://fonts.googleapis.com/css.css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css.css?family=Roboto:400,300italic,300,400italic,700,700italic" rel="stylesheet" type="text/css">
		-->

		<link rel="stylesheet" type="text/css" href="http://www.collinshousemelbourne.com.au/main-site/css/simple-line-icons.css">
		<link rel="stylesheet" type="text/css" href="http://www.collinshousemelbourne.com.au/main-site/css/jquery.mmenu.all.css">
		<link rel="stylesheet" type="text/css" href="http://www.collinshousemelbourne.com.au/main-site/css/magnific-popup.css">
		<link rel="stylesheet" type="text/css" href="http://www.collinshousemelbourne.com.au/main-site/css/screen.css?v1679700694">
		<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
		<script src="http://www.collinshousemelbourne.com.au/main-site/js/vendor/modernizr-2.6.2.min.js"></script>
		<!--[if lt IE 9]>
			<script src="/main-site/js/vendor/html5shiv.js"></script>
		<![endif]-->
				<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63386624-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-63386624-1');
		</script>
		<script>window.subFolder = "/main-site";</script>
	</head>
	<body class="homepage">
	 <!--[if lt IE 8]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
		<div id="page">
		<div id="header" class="Fixed">
			<div id="header-inner">
				<div id="header-top">
					<div class="wrapper">
						<a href="http://www.collinshousemelbourne.com.au/main-site/index.html" id="logo"><img src="http://www.collinshousemelbourne.com.au/main-site/images/ch_logo.svg" alt="logo" onerror="this.onerror=null; this.src='http://www.collinshousemelbourne.com.au/main-site/images/ch_logo.html'"></a>
					</div><!--end of wrapper-->
				</div><!--end of #header-top-->

				<div id="mobile-menu" class="mobile-show">
					<h2 class="page-title">Hero Views</h2>
					<a href="#menu" id="mobile-menu-trigger">mobile menu</a>
				</div><!--end of #mobile-menu-->

				<div id="main-menu" class="mobile-hide">
					<div class="wrapper small">
						<ul class="nav clearfix">
							<!-- <li class=""><a href="/main-site/history">history</a></li> -->
							<li class="">
								<a href="http://www.collinshousemelbourne.com.au/main-site/design.html">Design</a>
								<div id="submenu" class="submenu-cont mobile-hide">
									<div class="wrapper small">
										<ul class="submenu clearfix">
											<li>
												<a href="http://www.collinshousemelbourne.com.au/main-site/design/history.html">
													<img src="http://www.collinshousemelbourne.com.au/main-site/images/design/history_thumb.jpg" alt="">
													<span>History</span>
												</a>
											</li>
											<li>
												<a href="http://www.collinshousemelbourne.com.au/main-site/design/exterior.html">
													<img src="http://www.collinshousemelbourne.com.au/main-site/images/design/exteriornav.jpg" alt="">
													<span>Exterior</span>
												</a>
											</li>
											<li>
												<a href="http://www.collinshousemelbourne.com.au/main-site/design/interior.html">
													<img src="http://www.collinshousemelbourne.com.au/main-site/images/design/interiornav.jpg" alt="">
													<span>Interior</span>
												</a>
											</li>
										</ul>
									</div><!--end of wrapper-->
								</div><!--end of #submenu-->
							</li>
							<li class=""><a href="http://www.collinshousemelbourne.com.au/main-site/floorplans.html">floorplans</a></li>
							<li class="">
								<a href="http://www.collinshousemelbourne.com.au/main-site/amenities.html">amenities</a>
								<div id="submenu" class="submenu-cont mobile-hide">
									<div class="wrapper small">
										<ul class="submenu clearfix">
											<li>
												<a href="http://www.collinshousemelbourne.com.au/main-site/amenities/lobby.html">
													<img src="http://www.collinshousemelbourne.com.au/main-site/images/amenities/lobbynav.jpg" alt="">
													<span>Lobby</span>
												</a>
											</li>
											<li>
												<a href="http://www.collinshousemelbourne.com.au/main-site/amenities/collins-terrace.html">
													<img src="http://www.collinshousemelbourne.com.au/main-site/images/amenities/collinsterracenav.jpg" alt="">
													<span>Collins Terrace</span>
												</a>
											</li>
											<li>
												<a href="http://www.collinshousemelbourne.com.au/main-site/amenities/st-james-club.html">
													<img src="http://www.collinshousemelbourne.com.au/main-site/images/amenities/stjamesnav.jpg" alt="">
													<span>St. James Club</span>
												</a>
											</li>
										</ul>
									</div><!--end of wrapper-->
								</div><!--end of #submenu-->
							</li>
							<li class="active">
								<a href="http://www.collinshousemelbourne.com.au/main-site/views.html">views</a>
								<div id="submenu" class="submenu-cont mobile-hide">
									<div class="wrapper small">
										<ul class="submenu clearfix">
											<li>
												<a href="http://www.collinshousemelbourne.com.au/main-site/views/hero-views.html">
													<img src="http://www.collinshousemelbourne.com.au/main-site/images/views/hero_views/heronav.jpg" alt="">
													<span>Hero Views</span>
												</a>
											</li>
											<li>
												<a href="http://www.collinshousemelbourne.com.au/main-site/views/aerials.html">
													<img src="http://www.collinshousemelbourne.com.au/main-site/images/views/aerial_views/aerialnav.jpg" alt="">
													<span>Aerials</span>
												</a>
											</li>
										</ul>
									</div><!--end of wrapper-->
								</div><!--end of #submenu-->

							</li>
							<li><a class="open-video" href="#video-popup">video</a></li>
							<li class="">
								<a href="http://www.collinshousemelbourne.com.au/main-site/location.html">location</a>
								<div id="submenu" class="submenu-cont mobile-hide">
									<div class="wrapper small">
										<ul class="submenu clearfix">
											<li>
												<a href="http://www.collinshousemelbourne.com.au/main-site/location/map.html">
													<img src="http://www.collinshousemelbourne.com.au/main-site/images/location/location-map/locationmapnav.jpg" alt="">
													<span>Map</span>
												</a>
											</li>
											<li>
												<a href="http://www.collinshousemelbourne.com.au/main-site/location/collins-life.html">
													<img src="http://www.collinshousemelbourne.com.au/main-site/images/location/collins-life/collinslifenav.jpg" alt="">
													<span>Collins Life</span>
												</a>
											</li>
											<li>
												<a href="http://www.collinshousemelbourne.com.au/main-site/location/melbourne-life.html">
													<img src="http://www.collinshousemelbourne.com.au/main-site/images/location/melbourne-life/melbournelifenav.jpg" alt="">
													<span>Melbourne Life</span>
												</a>
											</li>
										</ul>
									</div><!--end of wrapper-->
								</div><!--end of #submenu-->

							</li>
							<li class=""><a href="http://www.collinshousemelbourne.com.au/main-site/team.html">management</a></li>
							<li class="register-btn"><a href="#register-popup">about</a></li>
						</ul>
					</div><!--end of wrapper-->
				</div><!--end of #main-menu-->

			</div><!--end of #header-inner-->
		</div><!--end of #header-->
<!-- title: Hero Views -->
	<div id="banner-cont" class="">
		<div class="wrapper large">
			<div class="banner has-fullscreen">
				<div class="slide-spacer">
					<div class="inner">
						<div class="loading"></div>
					</div>
				</div>
				<div class="banner-slider-con">
					<div class="banner-slider cycle-slideshow sync" data-cycle-slides="> div.slide" data-cycle-swipe="true" data-cycle-swipe-fx="scrollHorz" data-cycle-fx="fadeout" data-cycle-timeout="0" data-cycle-center-horz="true" data-cycle-center-vert="true" data-cycle-auto-height="calc" data-cycle-loader="wait" data-cycle-next=".cycle-next" data-cycle-prev=".cycle-prev">
								<div class="zoom-toggle"></div>						
								<div class="cycle-prev cycle-control"><img src="http://www.collinshousemelbourne.com.au/main-site/images/left_arrow.jpg" alt=""/></div>
								<div class="cycle-next cycle-control"><img src="http://www.collinshousemelbourne.com.au/main-site/images/right_arrow.jpg" alt=""/></div>
							
																<div class="slide" style="background-image:url(http://www.collinshousemelbourne.com.au/main-site/images/views/hero_views/Zoom_Out/COLLINS-HOUSE-WEB-IMAGES25.jpg);">
										<img src="http://www.collinshousemelbourne.com.au/main-site/images/views/hero_views/Zoom_Out/COLLINS-HOUSE-WEB-IMAGES25.jpg" alt=""/>
										<div class="cap">
																					</div>
									</div>
																	<div class="slide" style="background-image:url(http://www.collinshousemelbourne.com.au/main-site/images/views/hero_views/Zoom_Out/COLLINS-HOUSE-WEB-IMAGES26.jpg);">
										<img src="http://www.collinshousemelbourne.com.au/main-site/images/views/hero_views/Zoom_Out/COLLINS-HOUSE-WEB-IMAGES26.jpg" alt=""/>
										<div class="cap">
																					</div>
									</div>
					</div>	<!--end of banner-slider-->
				</div> <!--end of banner-slider-con-->
			</div><!--end of banner-->
			<div class="banner-wrapper entry">
									<h2>HERO VIEWS</h2>
				
				<h4></h4>
				<p>

</p>
			</div><!--end of banner-wrapper-->
		</div><!--end of wrapper-->
	</div><!--end of #banner-cont-->

	<div id="fullscreen-gallery">
		<div id="fullscreen-gallery-slider" class="cycle-slideshow" data-cycle-slides="> div.slide" data-cycle-swipe="true" data-cycle-fx="fadeout" data-cycle-timeout="0" data-cycle-swipefx="scrollHorz" data-cycle-next=".cycle-next" data-cycle-prev=".cycle-prev">
					<div class="cycle-next cycle-control"><img src="http://www.collinshousemelbourne.com.au/main-site/images/right_arrow.jpg" alt=""></div>
			<div class="cycle-prev cycle-control"><img src="http://www.collinshousemelbourne.com.au/main-site/images/left_arrow.jpg" alt=""></div>
					<div class="zoom-toggle" style="display: block;"></div>
								<div class="slide" style="background-image: url(http://www.collinshousemelbourne.com.au/main-site/images/views/hero_views/Zoom_In/COLLINS-HOUSE-WEB-IMAGES25.jpg);"></div>
								<div class="slide" style="background-image: url(http://www.collinshousemelbourne.com.au/main-site/images/views/hero_views/Zoom_In/COLLINS-HOUSE-WEB-IMAGES26.jpg);"></div>
					</div>
	</div>
		<div id="register" style="background-image:url(http://www.collinshousemelbourne.com.au/main-site/images/Home/footer-2.jpg);">
			<div class="wrapper">
					<a href="http://www.collinshousemelbourne.com.au/main-site/index.html" id="footer-logo"><img src="http://www.collinshousemelbourne.com.au/main-site/images/ch_monogram.svg" alt="logo" onerror="this.onerror=null; this.src='http://www.collinshousemelbourne.com.au/main-site/images/ch_monogram.html'"></a>
					<a href="#register-popup" class="btn white open-register-popup">Collins House Melbourne</a>
			</div><!--end of wrapper-->
		</div><!--end of footer-top-->

		<div id="footer">
			<div class="wrapper">
				 <div class="footer-top">
					<span class="copyright">Collins House Melbourne</span>
					<ul class="footer-menu">
						<li><a href="http://www.collinshousemelbourne.com.au/main-site/disclaimer.html">Disclaimer</a></li>
						<li><a href="http://www.collinshousemelbourne.com.au/main-site/disclaimer.html">Privacy Policy</a></li>
					</ul>
					<a href="#" class="btn-top mobile-hide">scroll to top</a>
				</div><!--end of footer-top-->
				<div class="footer-bottom row">
					<div class="col8">
						<h5>464-466 Collins Street, Melbourne, Victoria 3000 Australia</h5>
												
						
						<p>Concierge <a href="http://www2.tel/">+61 473 487 464</a></p>
					</div>
					<div class="col4">


					</div>
				</div><!--end of footer-bottom-->
			</div><!--end of wrapper-->
		</div><!--end of footer-->


		<div id="menu">
			<div class="menu_container">
				 <ul>
					<li class="register-btn2"><a href="#register-popup"><span class="glyph-item" aria-hidden="true" data-icon="" data-js-prompt="&amp;#xe080;"></span>about</a></li>
					<!-- <li class="history-btn"><a href="http://www.collinshousemelbourne.com.au/main-site/history"><span class="glyph-item" aria-hidden="true" data-icon="" data-js-prompt="&amp;#xe02c;"></span>history</a></li> -->
					<li class="design-btn"><a href="http://www.collinshousemelbourne.com.au/main-site/design.html"><span class="glyph-item" aria-hidden="true" data-icon="" data-js-prompt="&amp;#xe034;"></span>Design</a></li>
					<li class="history-btn"><a href="http://www.collinshousemelbourne.com.au/main-site/floorplans.html"><span class="glyph-item" aria-hidden="true" data-icon="" data-js-prompt="&amp;#xe02c;"></span>Floorplans</a></li>
					<li class="amenities-btn"><a href="http://www.collinshousemelbourne.com.au/main-site/amenities.html"><span class="glyph-item" aria-hidden="true" data-icon="" data-js-prompt="&amp;#xe05b;"></span>amenities</a></li>
					<li class="views-btn"><a href="http://www.collinshousemelbourne.com.au/main-site/views.html"><span class="glyph-item" aria-hidden="true" data-icon="" data-js-prompt="&amp;#xe032;"></span>views</a></li>
					<li class="video-btn"><a class="open-video" href="#"><span class="glyph-item" aria-hidden="true" data-icon="" data-js-prompt="&amp;#xe07e;"></span>video</a></li>
					<li class="location-btn"><a href="http://www.collinshousemelbourne.com.au/main-site/location.html"><span class="glyph-item" aria-hidden="true" data-icon="" data-js-prompt="&amp;#xe096;"></span>location</a></li>
					<li class="team-btn"><a href="http://www.collinshousemelbourne.com.au/main-site/team.html"><span class="glyph-item" aria-hidden="true" data-icon="" data-js-prompt="&amp;#xe005;"></span>management</a></li>
				</ul>
			</div>
		</div>

		<div id="video-popup">
			<div class="logo-white">
				<img src="http://www.collinshousemelbourne.com.au/main-site/images/logo-white.png" alt="">
			</div>
			<div class="video-con">
				<iframe src="https://player.vimeo.com/video/128558171?color=ddab78&amp;title=0&amp;byline=0&amp;portrait=0" width="533" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<div class="video-close"></div>
		</div>


		<div id="register-popup" class="popup mfp-hide">
			<div class="popup-inner">
				<div class="banner-wrapper entry">
					<h2>Collins House</h2>
					<h4>A premium address above the heart of Collins Street Melbourne</h4>
				</div>
				<div style="text-align: center;">
					<img src="http://www.collinshousemelbourne.com.au/main-site/images/CH-100-Logo.png" alt="Descriptive Text">	
				</div>
				<p class="last"><br>
				Collins House is a private residential building. Its amenities are provided by the Owners of the building to give a premium experience that is consistent with the image and location of our unique Collins Street address.
				<br><br>
				</p>
				<h4>
				464-466 Collins Street Melbourne Victoria 3000 Australia</h4>
				<p>
				<br>														
				Concierge  +61 473 487 464
				</p>	
			</div>
		</div><!--end of popup-->


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="http://www.collinshousemelbourne.com.au/main-site/js/vendor/jquery-1.9.1.min.html"><\/script>')</script>
		<script src="http://www.collinshousemelbourne.com.au/main-site/js/gmap3.min.js"></script>
		<script src="http://www.collinshousemelbourne.com.au/main-site/js/plugins.js"></script>
		<script src="http://www.collinshousemelbourne.com.au/main-site/js/main.js"></script>

	</body>
</html>